@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.containerLULINK {
    width: 500px !important;
    font-family: 'Arial' !important;
    margin: auto !important;
    font-size: 15px !important;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-top: 10px solid blue;

    hr {
        border: none;
        border-bottom: 10px solid yellow;
        border-radius: 0px 0px 3px 3px;
        width: 541px;
        position: absolute;
        margin-left: -21px;
    }

    .title {
        font-family: 'Bebas Neue', sans-serif;
        display: inline-flex;
        align-items: center;
        width: 500px;

        img {
            width: 150px;
            position: relative;
        }

        a {
            text-decoration: none;
            width: 405px;
            padding-top: 20px;
            margin: -46px 0 0 -11px;
            text-align: center;
            font-weight: bolder;
            text-transform: uppercase;
            background-size: 100%;
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            border: 10px solid;
            border-image-slice: 1;
            border-width: 15px;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            padding-bottom: 10px;
        }
    }

    .sub {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        margin: -65px 0 50px 120px;
        font-size: 13px;

        a {
            text-decoration: none !important;
            margin-left: 5px;
        }
    }

    .content {
        height: 600px;

        small {
            height: 15px;
            width: 15px;
            position: absolute;
            left: 60%;
            bottom: 0%;
            color: white;
            background-color: red;
            border: 3px solid #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
            text-shadow: 0 1px 2px rgba(0,0,0,0.2);
            font-weight: bold;
            color: #2f2f2f;
        }

        ul {
            display: inline-flex;
            position: relative;
            width: 440px !important;
            justify-content: center;
            align-items: center;
        }

        ul li{
            float: left;
            display: block;
            margin-left: -10px;
        }

        ul li>input[type="radio"] {
            position: absolute;
            border: 0px;
            width: 100%;
            height: 5em;
            visibility: hidden;
        }

        ul li>label {
            display: block;
            padding: 6px 21px;
            font-size: 12px;
            text-transform: uppercase;
            cursor: pointer;
            position: relative;
        }

        ul .tab {
            z-index: 0;
            padding: 25px;
            position: absolute;
            top: 50px;
            left: 0;
            opacity:0;
        }

        ul>li>[id^="tab-lulu"]:checked + label {
            top: 0;
            transition: 10ms;
        }

        ul>li>[id^="tab-lulu"]:checked ~ [id^="tab-content-lulu"] {
            z-index: 1;/* or display: block; */
            opacity: 1;
        }

        ul>li>[id^="tab-loki"]:checked + label {
            top: 0;
            transition: 10ms;
        }

        ul>li>[id^="tab-loki"]:checked ~ [id^="tab-content-loki"] {
            z-index: 1;/* or display: block; */
            opacity: 1;
        }

        img {
            height: 40px;
        }

        hr {
            border-width: 5px;
            border-radius: 0px;
        }

        ul>li>div {
            input {
                display: none;
            }

            input:checked ~ p {
                display: block;
                height: auto;
                max-height: 100vh;
            }

            span {
                display: inline-flex;
                align-items: center;
            }

            label>span {
                font-family: 'Bebas Neue', sans-serif;
                font-size: 25px;
                font-weight: bolder;
                text-transform: uppercase;
                text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
                cursor: pointer;
            }

            p {
                overflow: hidden;
                max-height: 0px;
                transition: max-height 0.1s ease-out;
            }
        }
    }

    .tab {
        overflow-x: hidden;
        overflow-y: auto;
        height: 400px;
        margin-top: 65px;
        font-size: 13px;
        text-align: justify;
    }

    .relation {
        margin-bottom: -15px;
    }

    .chrono {
        position: relative;
        z-index: 1;
        margin-top: 30px;

        span {
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            color: black;
            width: 540px;
            margin-left: -20px;
            padding-top: 5px;
            font-family: 'Bebas Neue', sans-serif;
            font-size: 25px;
            font-weight: bolder;
            text-transform: uppercase;
            text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
            cursor: pointer;
        }

        div {
            position: absolute; 
            margin-top:-25px;  
            width:500px; 
            height: 0; 
            overflow: hidden; 
            transition: all 0.35s linear; 
            -webkit-transition: all 0.35s linear;

            a {
                text-decoration: none;
            }
        }
    }


    .chrono:hover div {
        margin-top: -523px; 
        height: 530px;
        background-color: #FDEFD9;
    }

    @keyframes open {
        0% {
            opacity: 0;
            height: 0;
        }

        100% {
            opacity: 1;
            height: 100%;
        }
    }
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.green {background-color: #04AA6D;}
.orange {background-color: #ff9800;}

/* COLORS Luciole */

.containerLULINK.lulu {
    color: #1a0935;
    border-top: 10px solid #1a0935;

    hr {
        border-color: #1a0935;     
    }

    ul>li>[id^="tab-lulu"]:checked + label>img {
        filter: contrast(10%) invert(100%) sepia(100%) saturate(20) hue-rotate(210deg) brightness(70%) drop-shadow(0 0 1px #5F6697);
        -webkit-filter: contrast(10%) invert(100%) sepia(100%) saturate(20) hue-rotate(210deg) brightness(70%) drop-shadow(0 0 1px #5F6697);
    }

    .title a {
        font-size: 40px !important;
        background-color: #1a0935 !important;
        background-image: linear-gradient(45deg, #5F6697, #1a0935);
        border-image-source: linear-gradient(to right, #5F6697, #1a0935);
    }

    .title:hover a {
        background-image: linear-gradient(45deg, #f3ec78, #af4261);
    }

    .sub a { 
        color: #1a0935;
    }

    .sub a:hover {
        background-image: linear-gradient(45deg, #f3ec78, #af4261);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }

    .content {
        small {
            background-color: #7364b3;
            border-color: #7364b3;
            color: white;
        }

        img {
            filter: drop-shadow(0 0 1px #5F6697);
        }

        img:hover {
            filter: contrast(10%) invert(100%) sepia(100%) saturate(20) hue-rotate(210deg) brightness(70%) drop-shadow(0 0 1px #5F6697);
            -webkit-filter: contrast(10%) invert(100%) sepia(100%) saturate(20) hue-rotate(210deg) brightness(70%) drop-shadow(0 0 1px #5F6697);
        }

        hr {
            border-color: #1a0935;
        }
    }

    .chrono {
        div {
            color: #1a0935;
        }

        a:hover {
            color: #5F6697;
        }
    }
}

/* COLORS LOKI */

.containerLULINK.loki {
    color: #083516;
    border-top: 10px solid #259a49;

    hr {
        border-color: #259a49;     
    }

    ul>li>[id^="tab-loki"]:checked + label>img {
        filter: contrast(10%) invert(100%) sepia(100%) saturate(3) hue-rotate(100deg) brightness(70%) drop-shadow(0 0 1px #76c38f);
        -webkit-filter: contrast(10%) invert(100%) sepia(100%) saturate(3) hue-rotate(100deg) brightness(70%) drop-shadow(0 0 1px #76c38f);
        
    }

    .title a {
        font-size: 40px !important;
        background-color: #259a49 !important;
        background-image: linear-gradient(45deg, #76c38f, #259a49);
        border-image-source: linear-gradient(to right, #76c38f, #259a49);
    }

    .title:hover a {
        background-image: linear-gradient(45deg, #f3ec78, #af4261);
    }

    .sub a { 
        color: #259a49;
    }

    .sub a:hover {
        background-image: linear-gradient(45deg, #f3ec78, #af4261);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }

    .content {
        small {
            background-color: #229466;
            border-color: #229466;
            color: white;
        }

        img {
            filter: drop-shadow(0 0 1px #76c38f);
        }

        img:hover {
            filter: contrast(10%) invert(100%) sepia(100%) saturate(3) hue-rotate(100deg) brightness(70%) drop-shadow(0 0 1px #76c38f);
            -webkit-filter: contrast(10%) invert(100%) sepia(100%) saturate(3) hue-rotate(100deg) brightness(70%) drop-shadow(0 0 1px #76c38f);
        }

        hr {
            border-color: #259a49;
        }
    }

    .chrono {

        div {
            color: #259a49;
        }

        a:hover {
            color: #76c38f;
        }

    }
}


/* END COLORS */

.signaLULINK {
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    content: url("https://i.ibb.co/mDqjG4c/plague-lulu-face.png") !important;
    height: 30px;
}