.tags a {
    cursor: default;
    display: inline-block;
    height: 21px;
    line-height: 21px;
    position: relative;
    margin: 4px 0px 8px 15px;
    padding: 0 10px 0 12px;
    background: #777;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 11px;
    text-transform: lowercase;
    float: none;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-weight: bold;
    }

.tags a:before {
    content: "";
    position: absolute;
    top:0;
    left: -10px;
    width: 0;
    height: 0;
    border-color: transparent #3243A5 transparent transparent;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    }

.tags a:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 1px;
    float: left;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -moz-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
    box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
}

.tags a:hover {background:#777;}
.tags a:hover:before {border-color:transparent #777 transparent transparent;}

.tags a.pnj {background: black;}
.tags a.pnj:before {border-color: transparent black transparent transparent;}

.tags a.family {background: #dc8b44;}
.tags a.family:before {border-color: transparent #dc8b44 transparent transparent;}

.tags a.friend {background: #b9d963;}
.tags a.friend:before {border-color: transparent #b9d963 transparent transparent;}

.tags a.hate {background: #de3f3e;}
.tags a.hate:before {border-color: transparent #de3f3e transparent transparent;}

.tags a.love {background: #d073b9;}
.tags a.love:before {border-color: transparent #d073b9 transparent transparent;}

.tags a.neutral {background: #5fbddc;}
.tags a.neutral:before {border-color: transparent #5fbddc transparent transparent;}

.tags a:hover {background:#666 !important}
.tags a:hover:before {border-color:transparent #666 transparent transparent !important}

.tags a:hover {background:#777;}
.tags a:hover:before {border-color:transparent #777 transparent transparent;}
