@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.cRUNARP {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px; height: auto;
    padding: 30px 0px 10px 0px;
    color: black;
    background: linear-gradient(#e14c4d, #e5b491);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;

    .aRUNARP {
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-bottom: 100px solid transparent;
        border-left: 600px solid #e14c4d;
        position: absolute;
    }

    .tRUNARP {
        width: 490px;
        height: 90%;
        padding: 20px;
        background-color: #fff;
    }

    .header {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: end;
        min-height: 100px;
        margin-top: -30px;
    }

    .titre {
        text-align: end;
        text-transform: uppercase;
        font: 700 2.5em/1 "Roboto", sans-serif;
        letter-spacing: 0;
        padding: .25em 0 .325em;

        img {
            width: 50px;
            height: 50px;
            margin-right: -40px;
        }
    }

    .feat {
        margin-top: -10px;
    }

    .descRUNARP{
        text-align: justify;
        transition: all 0.3s;

        p {
            font-family: 'Roboto',sans-serif;
            font-size: 12px;
        }

        p.dialogue {
            font-family: "Homemade Apple", cursive;
            display: inline-flex;

            span {
                font-family: "Arial";
                display: contents;
            }
        }

        p.dialogue.gauche {
            padding-left: 20px;

            img {
                width: 50px !important;
                height: 50px !important;
                padding-right: 10px;
                border-radius: 50%;
                overflow: hidden;
            }
        }

        p.dialogue.droite {
            padding-left: 20px;

            img {
                width: 50px !important;
                height: 50px !important;
                padding-left: 10px;
                border-radius: 50%;
                overflow: hidden;
            }
        }
    }

    @media screen and (max-width:600px){
        .descRUNARP{
            width: 100%;
            padding: 1rem;
        }
    }

    a.signaRUNARP {
        margin-top: 10px;
        background-image: url(https://i.ibb.co/Hh2BFhL/img-0011.png);
        height: 40px;
        width: 30px;
        background-size: 30px 40px;
        background-repeat: no-repeat;
        content: "https://lgdc-warriors.forums-actifs.com/t11535-cabinet-du-docteur-lulu-1-1";
    }
}