@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40');

.cLURP {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 560px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cLURPsigna {
    font-family: 'DM Sans', sans-serif;

    img.lulu-apprentice {
        height: 410px;
        width: auto;
        content: url(https://i.ibb.co/pjLLbN4/lulu.png)
    }

    img.lulu-post-horde {
        width: 600px;
        height: auto;
        content: url(https://i.ibb.co/mqPgLmN/lulu-spot.png)
    }

    img.loki {
        height: 410px;
        width: auto;
        content: url(https://i.ibb.co/58gYMgx/AMANDE-LOKISANSTEXTE.png)
    }

    img.sauvage {
        width: 600px;
        height: auto;
        content: url(https://i.ibb.co/G9bBrB7/cropped.png)
    }

    img.zirgouflex {
        height: 410px;
        width: auto;
        content: url(https://i.ibb.co/XYx3284/HEROS-copie-2.png)
    }

    img.heros {
        height: 410px;
        width: auto;
        content: url(https://i.ibb.co/cYvYXbf/HEROS-copie2-no-text.png)
    }
}

.titleLURP {
    font-size: 10px;
    text-align: center;
    margin: 0;

    p {
        font: 400 1em/1.5 "Neuton";
        text-transform: uppercase;
        letter-spacing: .5em;
        display: flex;
        flex-direction: column;
        border: 4px double rgba(0,0,0,.25);
        border-width: 4px 0;
        padding: 1.5em 0em;
        width: 600px;

        span {
            font: 700 4em/1 "Oswald", sans-serif;
            letter-spacing: 0;
            padding: .25em 0 .325em;
            display: block;
            margin: 0 auto;
            text-shadow: 0 0 80px rgba(255,255,255,.5);

            background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
            -webkit-background-clip: text;
            background-clip: text;

            -webkit-text-fill-color: transparent;
            -webkit-animation: aitf 80s linear infinite;

            -webkit-transform: translate3d(0,0,0);
            -webkit-backface-visibility: hidden;

        }
    }
}

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

.descLURP{
    text-align: justify;
    transition: all 0.3s;

    p {
        font: 400 1em/1.5 "Neuton";
        font-size: 15px;
        line-height: 1.5;
        letter-spacing: 0.3px;
        word-spacing: 2px;

        span {
            -webkit-text-stroke-width: 0px;
        }
    }

    p:first-child::first-letter {
        font-weight: bold;
        font-size: 70px;
        float: left;
        line-height: 60px;
        padding-right: 8px;
        margin-top: -3px;
    }

    .talk {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        -webkit-text-stroke-width: 0.7px;
        padding: 10px;
    }

    .light {
        text-shadow: 1px 1px 2px pink;
    }

    hr {
        width:50px;
        border: none;
        border-bottom: 1px solid rgba(119, 119, 119, 0.25);
    }
}

@media screen and (max-width:600px){
    .descLURP{
        width: 100%;
        padding: 1rem;
    }
}

/* COLORS LULU */

.cLURP.lulu {
    color: #1a0935;
    background: #aeabc6;

    img.lulu-apprentice {
        height: auto;
        width: 600px;
        content: url(https://www.zupimages.net/up/24/03/3g4b.png)
    }

    .titleLURP {
        span {
            filter: hue-rotate(-130deg);
            -webkit-filter: hue-rotate(-130deg);
        }
    }

    .descLURP {
        p:first-child::first-letter {
            color: #6770b2;
        }

        .talk.lulu {
            color: #6770B2;
        }
    }
}

/* COLORS LOKI */

.cLURP.loki {
    color: #083516;
    background: #94bd90;
    /* Old background : 90bd9f */

    img.loki {
        height: auto;
        width: 600px;
        content: url(https://i.ibb.co/8MQ1VKx/loki-new-header.png)
    }

    .titleLURP {
        span {
            filter: hue-rotate(120deg);
            -webkit-filter: hue-rotate(120deg);
        }
    }

    .descLURP {
        p:first-child::first-letter {
            color: #259A49;
        }

        .talk.loki {
            color: #259A49;
        }
    }
}

/* COLORS SAUVAGE */

.cLURP.sauvage {
    color: #220303;
    background: #a89494;

    .titleLURP {
        span {
            filter: hue-rotate(-24deg) brightness(0.5);
            -webkit-filter: hue-rotate(-24deg) brightness(0.5);
        }
    }

    .descLURP {
        p:first-child::first-letter {
            color: #6f0100;
        }

        .talk.sauvage {
            color: #6f0100;
        }
    }
}


/* COLORS HEROS */

.cLURP.heros {
    color: #042826;
    background: #6aada9;

    .titleLURP {
        span {
            filter: hue-rotate(150deg);
            -webkit-filter: hue-rotate(150deg);
        }
    }

    .descLURP {
        p:first-child::first-letter {
            color: #01766e;
        }

        .talk.heros {
            color: #01766e;
        }
    }
}

/* END COLORS */

.signaLURP {
    content: url(https://i.ibb.co/Hh2BFhL/img-0011.png);
    height: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}